/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1acc8d;
  text-decoration: none;
}

a:hover {
  color: #34e5a6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-transparent {
  background: #6B3CC9;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header .logo .mt-3 {
  margin-top: 0 !important;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 3px;
  left: 30px;
  background-color: #4DCA79;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media screen and (max-width: 991px) {
  .row>* {
    flex-shrink: 0;
    width: 50%;
    max-width: 100%;
  }

  .about>* {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 767px) {
  .mobile-nav-toggle {
    display: block;
  }

  .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li>a:before {
  left: 20px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000000;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #025c0f;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}



/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  background-size: cover;
  padding: 0 0 0 0;
}

#hero .hero-bg img {
  width: 100%;
  
}

#hero h1 {
  position: absolute;
  font-family: 'Inter', sans-serif;
  width: 500px;
  padding: 10px 20px;
  background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%);
  margin: 35% 0 5% 10%;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

#hero h2 {
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.35);
  color: rgb(255, 255, 255);
  margin-bottom: 28px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: inline;
  padding: 10px 15px;
  transition: 0.5s;
  color: #fff;
  background: #F28D35;
  ;
  margin-bottom: 20px;
}

#hero .btn-get-started:hover {
  background: #17b57d;
}

@media (max-width: 768px) {
  #hero {
    padding-top: 40px;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero h1 {
    font-size: 33px;
    line-height: 37px;
    width: 100%;
    margin: 60% 0 0 0;
    padding: 0 60px 10px 60px !important;
  }

  #hero .hero-img img {
    max-width: 50%;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  #hero h1 {
    font-size: 30px;
    line-height: 35px;
    width: 100%;
    margin: 60% 0 0 0;
    padding: 0 20px 10px 20px !important;
}
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f5ff;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #1acc8d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #018308;
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
.about {
  padding: 0 0 0 0;
  margin-top: 50px;
}

.about-two {
  padding: 0 0 0 0;
}

.about-two .icon-boxes h3,
.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #6B3CC9;
  margin-bottom: 15px;
}

.about-two img,
.about img {
  width: 100%;
}

.about-two h3,
.about h3 {
  font: 'Poppins', sans-serif;
  color: #6B3CC9;
}

.about-two p,
.about p {
  font: 'inter', sans-serif;
}

@media screen and (max-width: 767px) {
  .about {
    display: flex;
    text-align: center;
    padding: 60px  20px 10px 20px;
  }

  .about-two h3,
  .about h3 {
    color: #6B3CC9;
    text-align: center;
  }

  .container .align-items-center {
    display: flex;
    justify-content: center;
  }

  .about-two .container>*,
  .about .container>* {
    display: flex;
    justify-content: center;
  }

  .about-two .colum1,
  #about .colum1 {
    order: 2;
  }

  .about-two .colum2,
  #about .colum2 {
    order: 1;
  }
}

.container .align-items-center {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.about-two .btn-learnmore,
.about .btn-learnmore {
  font: 'Inter', sans-serif;
  display: inline !important;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 15px;
  transition: 0.5s;
  color: #fff;
  background: #F28D35;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .about-two,
  .about {
    align-items: center;
  }

  .about-two img,
  .about img {
    align-items: center;
  }

  .about-two p,
  .about p {
    text-align: center;
  }
}

/*--------------------------------------------------------------
  # FAQ Section
  --------------------------------------------------------------*/

.faq-section {
  padding: 60px 0;
  margin: auto;
  width: 80%;
}

.faq-section h2 {
  font: 'poppins', sans-serif;
}

.faq {
  color: #6B3CC9;
  text-align: center;
}

.accordion {
  .accordion-item {
    margin: 10px;
  }

  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;

    &:hover,
    &:focus {
      cursor: pointer;
      color: #6B3CC9;

      &::after {
        cursor: pointer;
        color: #6B3CC9;
      }
    }

    .accordion-title {
      font: 'inter', sans-serif;
      padding: 1em 1.5em 1em 0;
    }

    .icon {
      display: inline-block;
      position: absolute;
      padding: 0 10px;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;

      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }

      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }

  button[aria-expanded='true'] {
    color: #6B3CC9;

    .icon {
      &::after {
        width: 0;
      }
    }

    +.accordion-content {
      font: 'inter', sans-serif;
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }

  .accordion-content {
    font: 'inter', sans-serif;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;

    p {
      font-size: 1rem;
      color: #6F6C90;
      font-weight: 400;
      margin: 0 0;
      padding: 0 20px 0 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .faq-section {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .accordion-content p {
    font-size: 1rem;
  }

  .faq-section {
    width: 95%;
  }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  font: 'Inter', sans-serif;
  background: #6B3CC9;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  margin-top: 50px;
}

#footer p {
  width: 70%;
}

#footer .footer-top {
  background: #6B3CC9;
  padding: 30px 0 0 0;
}

#footer .text-center {
  width: 80%;
  border-top: white;
  text-align: center !important;
  margin: auto;
  margin-top: 40px;
  border-top: solid;
  padding-top: 20px;
}

#footer .footer-info {
  margin-bottom: 30px;
}

#footer .col-lg-3 {
  line-height: 32px !important;
}

@media screen and (max-width: 991px) {
  #footer .col-lg-6 {
    width: 100%;
    margin: 50px 20px;
  }

  #footer .col-lg-3 {
    flex: 0 0 auto;
    line-height: 32px !important;
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  #footer .col-lg-3 {
    flex: 0 0 auto;
    line-height: 32px !important;
    width: 100%;
  }
}